{% load static %}
<div class="footer mt-5">

    <footer class="text-center text-lg-start" style="background-color: #c9bcbcef;">
        <div class="container d-flex justify-content-center py-5">
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-facebook-f"></i>
        </button>
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #d62929;">
          <i class="fab fa-youtube"></i>
        </button>
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #e21b96;">
          <i class="fab fa-instagram"></i>
        </button>
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #1a99cc;">
          <i class="fab fa-twitter"></i>
        </button>
        </div>

        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">todolist.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<script src="{% static 'static/js/jquery.js' %}"></script>
<script src="{% static 'static/js/popper.js' %}"></script>
<script src="{% static 'static/js/bootstrap.js' %}"></script>
</body>

</html>