{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'static/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'static/images/todo.svg' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> ToDo List
            </a>
            <div class="px-4 py-2 mx-4 bg-warning border rounded">
                <a style="text-decoration: none; color:#fff;" href="{% url 'login' %}">Log In</a>
            </div>
        </div>
    </nav>

    <div class="container mt-5" style="max-width:40rem;">
        <h2 class="text-center alert alert-info">Register Your Self</h2>
        <div class="container justify-content-center">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-center">
                    <div class=" border rounded">
                        <input type="submit" value="signup" class="btn btn-success px-4">
                    </div>
                    <div class=" mx-3 border rounded">
                        <input type="reset" value="Reset" class="btn btn-info px-4" style="color: #fff;">
                    </div>
                </div>
            </form>
            <h6 class="mt-3">Already Have An Account?<a class="link mx-2" href="{% url 'login' %}">LogIn</a></h6>
        </div>
    </div>
    
    <div class="footer mt-5">

        <footer class="text-center text-lg-start" style="background-color: #c9bcbcef;">
            <div class="container d-flex justify-content-center py-5">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
              <i class="fab fa-facebook-f"></i>
            </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #d62929;">
              <i class="fab fa-youtube"></i>
            </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #e21b96;">
              <i class="fab fa-instagram"></i>
            </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #1a99cc;">
              <i class="fab fa-twitter"></i>
            </button>
            </div>

            <!-- Copyright -->
            <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">todolist.com</a>
            </div>
            <!-- Copyright -->
        </footer>


        <script src="{% static 'static/js/jquery.js' %}"></script>
        <script src="{% static 'static/js/popper.js' %}"></script>
        <script src="{% static 'static/js/bootstrap.js' %}"></script>
</body>

</html>