{% extends 'base/base.html' %} {% block content %}

<form method="post" action="{% url 'savetask' %}">
    {% csrf_token %}
    <div class="tittle">

        <h1>Tittle</h1>
        <input type="text" name="tittle">

    </div>

    <div class="discrip">

        <h1>Description</h1>
        <textarea name="description" id="" cols="30" rows="10" name="description"></textarea>

    </div>


    <!-- <div class="discrip">

        <h1>Status</h1>
        <!-- <input type="re" name="complete" id=""> -->
    <input type="radio" name="complete" id="">

    </div> -->

    <div class="save">
        <button submit ">Add Task</button>
    </div>
    
</form>

{% endblock  %}